[Unit]
Description=NFS Mount

[Mount]
What=//192.168.0.0/nfs
Where=/lmm/nfs
Type=cifs
Options=uid=1000,gid=1000,credentials=/home/username/.nfscred,file_mode=0755,dir_mode=0755

[Install]
WantedBy=multi-user.target
