[Unit]
Description=Mount Synogard archiv SMB share

[Mount]
What=//192.168.77.77/archiv
Where=/syno/archiv
Type=cifs
Options=uid=1000,gid=1000,credentials=/home/sieben/.smbcred,file_mode=0755,dir_mode=0755

[Install]
WantedBy=multi-user.target
